.tb {
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #FFD3FF;
    /*margin-bottom: px;*/
    margin: auto;
    margin-bottom: 20px;
    transform: skewX(-2deg);
    box-shadow: 1px 1px 3px rgb(197, 192, 192);
    padding: auto;
}

body {
    background-image: linear-gradient(#707AF2, #F459FC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1  {
    font-family: sans-serif;
    font-weight: 949;
    color: #1f32fff1;
    text-shadow: 2px 2px 2px #969fc1;
    border-color:color-mix(in srgb, color percentage, color percentage)
}

.mbox {
    display: block;
    border: 3px outset #0031DA;
    color: rgb(249, 249, 249);
    text-align: center;
    width: 75%;
    padding: 2px;
    background-image: linear-gradient() (rgb(209, 19, 19),rgb(54, 54, 151));
    background-color: #afeae1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

mark {
    background-color: transparent;
    font-weight: 300;
    font-size: 1.2em;
    font-style: oblique;
    font-stretch: wider;
}

mark:hover {
    transform: scale(1.2);
}

.social1 {
    display: block;
    padding: 3%;
    text-align: center;
    background-color: rgb(212, 212, 212);
    width: 10%;
    height: 5%;
    transform: translate3d(5px, 3px, 2px);
}

p {
    text-align: inherit;
    text-shadow: 1px 1px 2px #96a3d4;
    color: #0031DA;
}

img {
    margin: 17px;
    display: inline-block;
    box-shadow: 5px 5px 10px #682c6c;
    border-style: ridge;
    border-color:#ec9ef0;
    border-radius: 20px;
    border-width: 10px;
}

.imageContainer {
    background-color: #FFD3FF;
    text-align: center;
    text-decoration: solid;
    width: min-content;
    margin: 9px;
    padding: 1px;
    border-radius: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imageContainer p {
    margin: 0; /* Remove default margin from paragraph */
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.coolBar {

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 1px;
    margin: 0px 0px 0px 0px;
}

#center1 {
    margin: auto;
}

.centerTxt {
    text-align: center;
}

.marquee {
    width: 450px;
    line-height: 50px;
    background-color: red;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.burgTitle {
    display: block;
    text-align: center;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    font-size: 200%;
    margin: auto;
    padding: 20px;
}

#navbar {

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6d3f6d;
    color: white;
  }

  .centerE {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }